<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.user.model.mapper.UserMapper">

	<!-- 사용자 정보를 저장한다. id는 dao 클래스와 일치시킨다. -->
	<insert id="signUp" parameterType="userDto">
		insert into users (name, id, password,phone, userRole) 
		values ( #{name},#{id},#{password}, #{phone}, #{userRole}) 
	</insert>

	<!-- 사용자 정보 업데이트 -->
	<update id="updateUser" parameterType="userDto">
	<![CDATA[
		update users set name = #{name}, userRole = #{userRole} where id = #{id}
		]]>
	</update>
	
	<!-- 사용자를 id로 검색하여 조회한다. id는 dao클래스의 메소드 이름과 일치시킨다. -->
	<select id="login" parameterType="userDto" resultType="userDto">
		<![CDATA[
			select * from users where id = #{id} and password = #{password}
		]]>
	</select>

	<!-- 사용자 이름으로 검색하여 조회한다. id는 dao클래스의 메소드 이름과 일치시킨다. -->
	<select id="logout" parameterType="userDto" resultType="userDto">
		<![CDATA[
				select * from users where id = #{id}
			]]>
	</select>

	<!-- 모든 사용자 정보를 검색한다. id는 dao클래스의 메소드 이름과 일치시킨다. -->
	<select id="listUser" resultType="userDto">
		<![CDATA[
			select * from users
		]]>
	</select>
	
	<!-- id를 이용하여 사용자의 아이디가 DB에 있는지 확인한다. 유저 정보 자체를 줘서 비밀번호 확인시에도 쓴다. -->
	<select id="selectOne" parameterType="string" resultType="userDto">
		<![CDATA[
			select * from users where id = #{id}
		]]>
	</select>
	
	<update id="saveRefreshToken" parameterType="map">
			<![CDATA[
			update users
			set token = #{token}
			where id = #{id}
		]]>
	</update>
	
	<select id="gerRefreshToken" parameterType="string" resultType="string">
	<![CDATA[
			select * from users
			where id = #{id}
		]]>
	</select>
	
	<update id="deleteRefreshToken" parameterType="map">
		update users
		set token = #{token, jdbcType=VARCHAR}
		where id = #{id}
	</update>

</mapper>
